# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


## REACT
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

## POSTGRES
/pgdata

## ASPNET

/web/.vs
/web/src/*.com
/web/src/*.class
/web/src/*.dll
/web/src/*.exe
/web/src/*.pdb
/web/src/*.dll.config
/web/src/*.cache
/web/src/*.suo
/web/src/!/packages/*/lib/*.dll
/web/src/!/packages/*/lib/*/*.dll
/web/src/!*CommonReferences/*.dll
/web/src/UpgradeLog.XML
/web/src/_UpgradeReport_Files/
/web/src/bin/
/web/src/obj/
/web/src/TestResults/
/web/src/*.Publish.xml
/web/src//_ReSharper.*
/web/src/*.ReSharper.*
/web/src/*.7z
/web/src/*.dmg
/web/src/*.gz
/web/src/*.iso
/web/src/*.jar
/web/src/*.rar
/web/src/*.tar
/web/src/*.zip
/web/src/*.log
/web/src/*.sqlite
/web/src/.DS_Store?
/web/src/ehthumbs.db
/web/src/Icon?
/web/src/Thumbs.db
/web/src/[Bb]in
/web/src/[Oo]bj
/web/src/[Tt]est[Rr]esults
/web/src/*.suo
/web/src/*.user
/web/src/*.[Cc]ache
/web/src/*[Rr]esharper*
/web/src/packages
/web/src/NuGet.exe
/web/src/_[Ss]cripts
/web/src/*.exe
/web/src/*.dll
/web/src/*.nupkg
/web/src/*.ncrunchsolution
/web/src/*.dot[Cc]over
/web/src/.vs
/web/src/obj
/web/.vs
/web/Grecatech/*.com
/web/Grecatech/*.class
/web/Grecatech/*.dll
/web/Grecatech/*.exe
/web/Grecatech/*.pdb
/web/Grecatech/*.dll.config
/web/Grecatech/*.cache
/web/Grecatech/*.suo
/web/Grecatech/!/packages/*/lib/*.dll
/web/Grecatech/!/packages/*/lib/*/*.dll
/web/Grecatech/!*CommonReferences/*.dll
/web/Grecatech/UpgradeLog.XML
/web/Grecatech/_UpgradeReport_Files/
/web/Grecatech/bin/
/web/Grecatech/obj/
/web/Grecatech/TestResults/
/web/Grecatech/*.Publish.xml
/web/Grecatech//_ReSharper.*
/web/Grecatech/*.ReSharper.*
/web/Grecatech/*.7z
/web/Grecatech/*.dmg
/web/Grecatech/*.gz
/web/Grecatech/*.iso
/web/Grecatech/*.jar
/web/Grecatech/*.rar
/web/Grecatech/*.tar
/web/Grecatech/*.zip
/web/Grecatech/*.log
/web/Grecatech/*.sqlite
/web/Grecatech/.DS_Store?
/web/Grecatech/ehthumbs.db
/web/Grecatech/Icon?
/web/Grecatech/Thumbs.db
/web/Grecatech/[Bb]in
/web/Grecatech/[Oo]bj
/web/Grecatech/[Tt]est[Rr]esults
/web/Grecatech/*.suo
/web/Grecatech/*.user
/web/Grecatech/*.[Cc]ache
/web/Grecatech/*[Rr]esharper*
/web/Grecatech/packages
/web/Grecatech/NuGet.exe
/web/Grecatech/_[Ss]cripts
/web/Grecatech/*.exe
/web/Grecatech/*.dll
/web/Grecatech/*.nupkg
/web/Grecatech/*.ncrunchsolution
/web/Grecatech/*.dot[Cc]over
/web/Grecatech/.vs
/web/Grecatech/obj

/.vs