.headerWrapper{
    background-color: navajowhite;
    display: flex;
    border-radius: 2px;
}

.logo img{
    width: 150px;
}

.navBar{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: 20px;
}
.navBar .item{
    text-decoration: none;
    color: lightslategray;
    margin-left: 20px;
    font-size: 30px;
}

.loginBlock{
    max-width: 30em;
    max-height: 8em;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: auto;
    margin-top: 20px;
}
.loginBlock img{
    max-width: 100px;
}
.loginBlock .name{
    position: absolute;
    top: 95px ;
    color: white;
}
.loginBlock .loginButton{
    max-height: 50px;
    color: lightslategray;
    margin-left: 20px;
    font-size: 30px;
}